In [1]:
import pandas as pd
import requests
import io

# Fetching

In [2]:
uri = 'https://query.wikidata.org/sparql'

In [3]:
query = """
SELECT DISTINCT ?id ?name WHERE {
  ?item p:P31 ?stat.
  ?stat ps:P31 wd:Q3624078.
  FILTER(NOT EXISTS { ?stat pq:P582 ?end_time. })
  FILTER(NOT EXISTS { 
    ?item p:P31 [ ps:P31 wd:Q3024240 ]
  })
  BIND(STRAFTER(STR(?item), "http://www.wikidata.org/entity/") AS ?id)
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "pt,en".
    ?item rdfs:label ?name.
  }
}
"""

In [4]:
params = {'query' : query}
headers = { 'Accept': 'text/csv'}

In [5]:
r = requests.get(uri, params=params, headers=headers)
r.raise_for_status()

In [6]:
df = pd.read_csv(io.StringIO(r.content.decode('utf-8')))
df.head()

     id                    name
0  Q298                   Chile
1  Q398                 Bahrein
2  Q878  Emirados Árabes Unidos
3  Q801                  Israel
4  Q819                    Laos

# Testing

In [7]:
assert len(df) == 195

# Writing

In [8]:
df = df.set_index('id').sort_index()
df.head()

                  name
id
Q1000            Gabão
Q1005           Gâmbia
Q1006            Guiné
Q1007     Guiné-Bissau
Q1008  Costa do Marfim

In [9]:
df.to_csv('country_names.csv')